html {
	background-color: #f4f4f4;
}
body {
  	padding-top: 0px;
}
@media (min-width: 768px) {
	.main-header__nav-items+.main-header__nav-items {
	  margin-right: 0;
	}
	.main-header__nav-item.main-header__nav-item--user-menu {
	  padding: 0 20px 0 25px;
	  margin-right: 100px;
	}
}
.grouped-listing__job-title:hover {
	background-image: none;
}
.grouped-listing {
  margin: 0;
}
div.carousel {
  height: 50%;
}
div.carousel .item,
div.carousel .item.active,
div.carousel .carousel-inner {
    height: 100%;
}
div.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  bacxºkground-size: cover;
}
h2.page-header {
  font-size: 19px;
  border-bottom: none;
  margin: 30px 0 5px;
}
.container.description {
	margin-top: 30px;
}
.icon-chevron-thin-left, .icon-chevron-thin-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.navbar-inverse {
  border-color: #fff;
}
.navbar {
  margin-bottom: 0px;
}
.main-header__nav-items>li>.dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media (min-width: 768px) {
    .main-header__nav-items .dropdown-menu {
        right: 0;
        left: auto
    }
    .main-header__nav-items .dropdown-menu-left {
        right: auto;
        left: 0
    }
}

#sidr {
  /*display: none;*/
  /*position: absolute;*/
  /*position: fixed;*/
  top: 0;
  height: 170px;
  z-index: 999999;
  width: 100%;
  overflow-x: none;
  overflow-y: auto;
  background: #f8f8f8;
  color: #333;
  -webkit-box-shadow: inset 0 0 5px 5px #ebebeb;
  -moz-box-shadow: inset 0 0 5px 5px #ebebeb;
  box-shadow: inset 0 0 5px 5px #ebebeb;
}
#sidr h2 {
  margin: 0;
  font-size: 24px;
  display: inline-block;
}
/*#sidr::after {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f8f8f8;
  position: absolute;
  top: 169px;
  right: 585px;
  z-index: 99999;
}*/
ul.nav {
  margin-left: 100px;
  margin-top: -34px;
}
#myCarousel {
  padding: 0;
}
.description .row:first-child {
  padding-top: 20px;
}
.qsomos, .jobs, .company {
  border: 1px solid transparent;
  padding: 10px;
}
.qsomos:hover, .jobs:hover, .company:hover {
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #F9F9F9;
}
.qsomos p, .qsomos h2 {
  border-radius: 5px;
  padding: 5px;
}
.qsomos:hover p, .qsomos:hover h2 {
  background-color: #EDEDED;
  cursor: pointer;
}
.qsomos:hover p::before, .qsomos:hover h2::before {
  content: "\e639";
  font-family: "bumeranicons";
  position: absolute;
  cursor: pointer;
  right: 30px;
  font-size: 16px;
}
.config {
  padding: 0 20px 0 25px;
}
.hover-slider {
  display: none;
  background: url('../img/bg.png');
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 55;
}
#myCarousel:hover .hover-slider {
  display: block;
  cursor: pointer;
}
.hover-slider i {
  color: #fff;
  padding-left: 50%;
  padding-top: 10%;
  position: absolute;
}
.hover-slider i::before {
  font-size: 30px;
  margin-left: -10px;
}
.widgets {
  background-color: #ddd;
  border-radius: 5px;
  border: 1px solid #bbb;
  padding: 10px 15px 15px 15px;
}
.icon-cross {
  display: none;
}
.company:hover .icon-cross, .jobs:hover .icon-cross, .social.fb:hover .icon-cross, .social.tw:hover .icon-cross, .grouped-listing:hover .icon-cross, .qsomos:hover .icon-cross, .socialtw:hover .icon-cross, .gallery:hover .icon-cross, .well:hover .icon-cross {
  display: block;
  float: right;
}
/*.grouped-listing {
  padding: 10px;
}*/
.well {
  padding: 14px 15px 30px;
}
.well .row {
  margin-top: 24px;
}
.modal-body {
  margin: 0 auto;
  width: 300px;
}
.modal-dialog a {
  padding: 10px;
  display: inline-block;
}
.modal-dialog a:hover {
  background-color: #ececec;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  opacity: 1;
}
.grouped-listing .close {
  padding: 10px;
  cursor: pointer;
  position: absolute;
  z-index: 555;
  right: 22px;
}